.info {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.info-hidden .info__dialog {
    left: -450px;
    /* transition: all .6s ease-in-out; */
}
.info-hidden .info__toggler {
    left: 10px;
}
.info__name {
    color: white;
    margin: 0;
    text-align: center;
}
.info__real-title {
    color: white;
    margin: 0 0 20px;
    text-align: center;
}
.info__dialog {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 100px 20px 150px 10px;
    width: 85%;
    max-width: 450px;
    pointer-events: auto; 
    height: 100vh;
    background-color: #1A1A2E;
    box-shadow: 1px 0 10px rgba(0, 0, 0, .5);
    overflow-y: scroll;
}
.info__person {
    border-right: 1px solid grey;
}
.info__part {
    display: flex;
}
.info__progress {
    font-size: 20px;
    margin: 10px auto 0;
    color: white;
    font-weight: bold;
}
.info__date {  
    margin: 0;
    font-size: 20px;
    /* text-align: center; */
    /* text-decoration: underline; */
}
.info__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.info__button {
    outline: none;
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 9px;
    color: white;
    pointer-events: auto; 
}
.info__images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}
.info__image {
    width: 190px;
    border: 1px solid white;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    /* overflow: hidden; */
}
.info__image:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}
.info__back {
    background-color: #0F3460;
    margin-right: 15px;
}
.info__next {
    /* margin-left: 30px; */
    background-color: #E94560;
}
.info__button:hover {
    cursor: pointer;
}
.info__speaker {
    /* border-radius: 50%; */
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.info__toggler {
    transform: rotate(90deg);
    border-radius: 8px;
    background-color: #E94560;
    position: relative;
    top: 120px;
    width: 50px;
    pointer-events: auto; 
    height: 50px;
    border: none;
    outline: none;
    background-image: url('../../images/button.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
    transform: rotateZ(270deg);
    right: 0;
    position: absolute;
}
.info__toggler:hover {
    cursor: pointer;
    background-color: #E94560;
    opacity: .9;
}
.info__button-toggled {
    transform: rotateZ(90deg);
}
.info__title {
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin: 0 0 0 10px;
}
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .info__subtext {
      color: white;
      margin: 20px 0 0;
  }

  @media screen and (max-width: 500px) {
    .info__image {
        width: 163px;
        height: 175px;
    }
}
  @media screen and (max-width: 430px) {
      .info__image {
          width: 150px;
          height: 150px;
      }
  }